$typography-presets: (
    barlow-medium: (
        font-family: ("Barlow Semi Condensed", serif),
        font-weight: 500
    ),
    barlow-semibold: (
        font-family: ("Barlow Semi Condensed", serif),
        font-weight: 600
    ),
)